@charset "utf-8";
@keyframes click {
    from {margin: 6px 6px 4px 6px;}
    to {margin: 5px 6px;}
}

body {
    position: relative;
}
 
.vkdw-download-button {
    background: url(../img/page-worker-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px -13px;
}

.vkdw-mark-button {
    background: url(../img/page-worker-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px -26px;
    display: none;
}

.vkdw-download-button,
.vkdw-mark-button {
    position: relative;
    height:13px;
    width:13px;
    margin: 5px 6px;
    float:left;
    opacity: 0.75;
}

.vkdw-download-button:hover,
.vkdw-mark-button:hover {
    opacity: 1;
}

.tooltipped:before {
    content: attr(data-tooltip);
    position: absolute;
    top: -32px;
    right: -93%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px 7px 5px 7px;
    z-index: 99999;
    font-weight: 400;
    border-radius: 3px;
    white-space: nowrap;
    pointer-events: none;
    opacity:0;
    transition: 0.4s ease opacity;
}

.tooltipped:after {
    content: "";
    position: absolute;
    border: 5px solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent;
    top: -10px;
    left: 1px;
    pointer-events: none;
    opacity:0;
    transition: 0.4s ease opacity;
}

.animated-hide {
    transition: 0.4s ease opacity;
}

.animated-hide:after,
.animated-hide:before {
    opacity:0;
    transition: 0.4s ease opacity;
}

.width-14px {
    width: 14px;
}

.vkdw-marked {
    transition: 0.2s ease background-color;
    background-color: #e8edf4;
    border-radius: 0;
    position: relative;
}

.vkdw-marked .vkdw-mark-button {
    background-position: -13px -26px;
}

.vkdw-marked:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 2px;
    z-index: 99;
    top: 0;
    background-color: #6285AF;
    right: 0;
    opacity: 0;
}

.vkdw-marked .audio_info:before {
    content: "";
    position: absolute;
    background: #D0D7E0;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.vkdw-marked:hover {
    background-color: #e8edf4 !important;
}
 
.clicked {
    animation-name: click;
    animation-direction: alternate;
    animation-duration: 0.4s;
    animation-timing-function: ease;
  
}

.animated {
    transition: 0.2s ease opacity;
}

.animated:after,
.animated:before {
    opacity:1;
    transition: 0.2s ease opacity;
}

.audio_row_current .vkdw-mark-button {
  margin: 5px 7px 5px 5px;
  display: block !important;
  width: 14px;
}

.wall_audio_rows .vkdw-mark-button,
.post_media .vkdw-mark-button {
    margin-right: 7px;
}

.bg-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 998;
}
 
.album-download-btn {
    margin: 6px;
    margin-top: 10px;
    margin-right: 10px;
    background: url(../img/page-worker-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px -13px;
    opacity: 0;
    transition: 0.1s ease opacity;
}

.audio_album_item:hover .album-download-btn {
    opacity: 0.75;
}

.album-download-btn:hover {
    opacity: 1 !important;
}

.claimed .vkdw-download-button,
.claimed .vkdw-mark-button {
    display: none;
}

.vkdw-overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    z-index: 999;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.vkdw-modal {
    position: fixed;
    top: 30vh;
    width: 450px;
    border-radius: 2px;
    overflow: hidden;
}

.vkdw-modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 54px;
    width: 100%;
    background-color: #597DA3;
    color: #fff;
}

.vkdw-modal__header-title {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 14px;
    color: #fff;
    height: 54px;
    line-height: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 20px;
}

.vkdw-modal__body {
    padding: 20px;
    background: #fff;
}

.vkdw-modal__body > p {
    margin: 0 0 1em 0;
}

.vkdw-modal__body > p:last-child {
    margin: 0;
}

.vkdw-modal__controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 14px 23px 14px 25px;
    height: 29px;
    background-color: #fafbfc;
    border-radius: 0 0 2px 2px;
    border-top: 1px solid #e7e8ec;
    white-space: nowrap;
    margin: 0;
}

.vkdw-modal__controls > button {
    margin-left: 10px;
}

.vkdw-modal__cancel-button {
    background-color: transparent !important;
}

.vkdw-modal__cancel-button:active {
    background-color: #dae2ea !important;
}