body {
    margin: 0;
}

header,
footer {
    padding: 0 5px;
}

header {
 display: flex;
 align-items: center;
 background: #507299;
 height: 40px;
}

.header__logo {
    display: flex;
    margin: 0;
    padding: 0;
    width: 27px;
    height: 27px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    margin-right: 5px;
    transition: 0.5s ease all;
    margin-top: 1px;
}

.header__logo:hover {
    background: #30557f;
}

.header__logo-image {
    width: 24px;
    height: 24px;
}

.header__title {
    color: #fff;
    margin: 0;
    margin-left: 5px;
    margin-right: auto;
    cursor: default;
    font-size: 13px;
}

.header__title-button {
    color: #fff;
    margin: 0 7px;
}

.button {
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease all;
    opacity: 1;
    padding: 0;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.4;
}

.container,
.container--empty-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 350px;
    width: 550px;
    transition: 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96) height;
}

.container--empty-list {
    justify-content: center;
    align-items: center;
    color: #818181;
    font-size: 12px;
    height: 150px;
}

.container::-webkit-scrollbar {
    display: none;
}

footer {
    display: flex;
    align-items: center;
    height: 35px;
    background: #fafbfc;
    border-top: 1px solid #e7e8ec;
}

.item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 8px 5px;
    cursor: pointer;
}

.item:hover {
    background-color: #f0f2f5;
}

.item__size {
    display: flex;
    align-items: center;
    font-size: 11px;

}

.item__size-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin: 0 7px;
}

.item__size-info > p {
    margin: 0;
}

.item__size > p {
    margin: 0;
    white-space: nowrap;
    width: 4em;
    text-align: right;
}

.item__action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background: #507299;
    margin-right: 10px;
    margin-left: 5px;
    background-repeat: no-repeat;
}

.item__action-button:before {
    content: '';
    width: 15px;
    height: 15px;
}

.item__action-button--interrupted {
    background-color: #e22a2a;
}

.item__action-button--interrupted:before {
    background-image: url('../img/actions.png');
    background-position: 0 -31px;
}

.item__action-button--complete:before {
    background-image: url('../img/actions.png');
    background-position: 0 0;
}

.item__action-button--paused:before {
    background-image: url('../img/actions.png');
    background-position: 0 -45px;
}

.item__action-button--in_progress:before {
    background-image: url('../img/actions.png');
    background-position: 0 -60px;
}

.item__title {
    display: flex;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    max-width: 55%;
    margin-right: auto;
    white-space: nowrap;
}

.item__title-artist {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 30em;
    color: #2a5885;
    margin: 0;
}

.item__title-divider {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.item__title-trackname {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 16em;
    margin: 0;
}

.item__info {
    display: flex;
    justify-content: flex-end;
    min-width: 20%;
}

.item__info--size {
    display: flex;
    margin-left: 10px;
    width: 50px;
    justify-content: flex-end;
    margin-right: 5px;
}

.item__actions {
    display: flex;
}

.item__actions > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    margin: 5px;
}

.item__actions--delete {
    background-image: url('../img/actions.png');
    background-position: 0 -15px;
    background-color: transparent;
}
